/*公共区域*/
@media screen and (min-width: 780px){
    .sj_nav{
        display: none;
    }
    .pho_footer{
        display: none;
    }
}

/*顶部*/
.top-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(102,102,102,.5);
    z-index: 10;
}
.top{
    padding: 8px 0;
    height: 64px;
}
.logo{
    width: 202px;
    height: 100%;
}
.nav{
    margin-top: 24px;
    margin-left: 180px;
    border-right: 1px solid #ffffff;
}
.nav li{
    float: left;
    padding-right: 30px;
}
.nav li a{
    display: inline-block;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
}
.nav li.active a{
    color: #30a4fe;
    border-bottom: 2px solid #30a4fe;
}
.ontact{
    margin-top: 5px;
}
.ontact-pic{
    margin-right: 20px;
    width: 54px;
    height: 54px;
}
.ontact-ontact{
    margin-top: 12px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}
.ontact-tel{
    color: #fd0000;
    font-size: 20px;
}
/*顶部结束*/
/*首页*/
/*侧导航*/
#menu{
    position: fixed;
    left: 100px;
    top: 50%;
    margin-top: -214px;
    z-index: 10;
    width: 140px;
    height: auto;
}
#menu li{
    position: relative;
    margin-bottom: 77px;
}
#menu li:last-child{
    margin-bottom: 0;
}
#menu li a{
    color: #4d4d4d;
    font-size: 18px;
}
.menu-item{
    position: absolute;
    display: none;
    width: 82px;
    height: 82px;
    text-align: center;
    background: url("../img/side-navbg.png")no-repeat center center;
    z-index: 20;
}
#menu li:nth-child(1) .menu-item{
    left: 58px;
    top: 175px;
}
#menu li:nth-child(2) .menu-item{
    left: 58px;
    top: 74px;
}
#menu li:nth-child(3) .menu-item{
    left: 58px;
    bottom: -31px;
}
#menu li:nth-child(4) .menu-item{
    left: 58px;
    bottom: 70px;
}
#menu li:nth-child(5) .menu-item{
    left: 58px;
    bottom: 171px;
}
#menu li:nth-child(1).active .menu-item{
    display: block;
}
#menu li:nth-child(2).active .menu-item{
    display: block;
}
#menu li:nth-child(3).active .menu-item{
    display: block;
}
#menu li:nth-child(4).active .menu-item{
    display: block;
}
#menu li:nth-child(5).active .menu-item{
    display: block;
}
.menu-item-number{
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
}
.menu-item-text{
    font-size: 12px;
    color: #ffffff;
}
/*侧导航结束*/
.index-one{
    background: url("../img/indexone.jpg")no-repeat center center;
}
/*第二屏*/
.index-two{
    background: url("../img/indextwo.jpg")no-repeat center center;
}
.index-two-box{
    height: 500px;
}
.index-two-box h3{
    width: 100%;
    font-size: 46px;
    font-weight: 500;
    color: #4c9ff7;
    text-align: center;
}
.two-title-en{
    width: 383px;
    height: 20px;
    margin: 20px auto 0;
    font-size: 20px;
    color: #999999;
    text-align: center;
    background: url("../img/indextwo-title.png")no-repeat center center;
}
.two-list{
    margin-top: 90px;
    width: 100%;
    height: 330px;
}
.index-two-box li{
    position: relative;
    float: left;
    margin: 0 49px;
    width: 302px;
    height: 100%;
}
.two-item-title{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #4d4d4d;
}
.two-mask{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(92,92,92,.6);
}
.two-mask-pic{
    width: 100px;
    height: 100px;
    margin: 115px auto;
}
.index-two-box li:hover .two-mask{
    display: block;
}
/*第二屏结束*/
/*第三屏*/
.index-three{
    background: url("../img/indexthree.jpg")no-repeat center center;
}
.index-three-box{
    height: 540px;
    background: rgba(105,105,105,.5);
}
.index-three-box h3{
    width: 100%;
    font-size: 46px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}
.three-title-en{
    width: 463px;
    height: 20px;
    margin: 20px auto 0;
    font-size: 20px;
    color: #999999;
    text-align: center;
    background: url("../img/indexthree-title.png")no-repeat center center;
}
.three-pic{
    width: 820px;
    height: 406px;
    margin: 32px auto 0;
}
/*第三屏结束*/
/*第四屏*/
.index-four{
    background: url("../img/indexfour.jpg")no-repeat center center;
}
.index-four-box h3{
    width: 100%;
    font-size: 46px;
    font-weight: 500;
    color: #4c9ff7;
    text-align: center;
}
.four-title-en{
    width: 442px;
    height: 20px;
    margin: 20px auto 0;
    font-size: 20px;
    color: #999999;
    text-align: center;
    background: url("../img/indexfour-title.png")no-repeat center center;
}
.four-list{
    margin-top: 80px;
    height: 335px;
}
.four-list li{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}
.four-item-pic{
    width: 218px;
    height: 218px;
    margin: 0 auto;
}
.four-item-text{
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    color: #666666;
    text-align: center;
}
.four-mask{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: #4c9ff7;
    color: #ffffff;
}
.four-list li:hover .four-mask{
    display: block;
}
.four-mask-pic{
    width: 218px;
    height: 160px;
    margin: 0 auto;
}
.four-mask-title{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.four-mask-text{
    margin: 10px auto;
    width: 70%;
    font-size: 14px;
    line-height:20px;
    text-align: center;
}
/*第四屏结束*/
/*第五屏*/
.index-five{
    position: relative;
    background: #404040;
}
.index-five-box h3{
    width: 100%;
    font-size: 46px;
    font-weight: 500;
    color: #d2d2d2;
    text-align: center;
}
.five-title-en{
    width: 448px;
    height: 20px;
    margin: 20px auto 0;
    font-size: 20px;
    color: #999999;
    text-align: center;
    background: url("../img/indexfive-title.png")no-repeat center center;
}
.five-list{
    margin-top: 60px;
}
.five-list li{
    float: left;
    width: 25%;
    height: 180px;
}
.five-list li:hover{
    box-shadow: -3px 6px 10px #2f2f2f,3px 6px 10px #2f2f2f;
}
.five-item-pic{
    width: 70px;
    height: 70px;
    margin: 40px auto 0;
}
.five-item-text{
    margin-top: 12px;
    width: 100%;
    text-align: center;
    color: #d2d2d2;
    font-size: 24px;
}
/*第五屏结束*/
/*底部*/
.index-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    background: rgba(102,102,102,.5);
}
/*底部结束*/
/*首页结束*/
/*服务项目*/
.banner{
    height: 580px;
}
.fwxm-wrapper{
    margin-top: 100px;
    border-top: 1px solid #e6e6e6;
}
.fwxm-title{
    width: 650px;
    margin: 20px auto 0;
}
.fwxm-title h2{
    float: left;
    font-size: 70px;
    font-family: "华文楷体";
    color: #4d4d4d;
}
.fwxm-title-ch{
    font-size: 26px;
    color: #4d4d4d;
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid #000;
}
.fwxm-btn-wrapper{
    margin-top: 90px;
}
.fwxm-btn{
    margin: 0 auto;
    width: 1000px;
    height: 52px;
    border: 1px solid #e6e6e6;
    border-radius: 30px;
}
.fwxm-btn li{
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 52px;
    border-radius: 30px;
}
.fwxm-btn li.active{
    background: -webkit-linear-gradient(left, #84bcf7 , #0a7bf3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,#84bcf7 , #0a7bf3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #84bcf7 , #0a7bf3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #84bcf7 , #0a7bf3); /* 标准的语法（必须放在最后） */;
}
.fwxm-btn li.active a{
    color: #ffffff;
}
.fwxm-btn li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #4d4d4d;
    font-size: 18px;
}
.fwxm-box > li{
    display: none;
}
.fwxm-box li:first-child{
    display: block;
}

.wx-gzh{
    margin-top: 85px;
}
.wx-gzh-text{
    width: 375px;
    margin: 140px 55px 0 88px;
}
.wx-gzh-text h5{
    font-size: 28px;
    color: #4d4d4d;
    font-weight: 500;
}
.wx-gzh-en{
    margin-top: 16px;
    font-size: 20px;
    color: #999999;
}
.wx-gzh-text span{
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 1px;
    background: #000;
}
.wx-gzh-word{
    margin-top: 20px;
    width: 100%;
    line-height: 28px;
    font-size: 16px;
    color: #4d4d4d;
}
.wx-h5-wrapper{
    margin-top: 60px;
    height: 565px;
    background: url("../img/h5-bg.jpg")no-repeat;
}
.wx-h5{
    overflow: hidden;
}
.wx-h5-pic{
    width: 600px;
    height: 443px;
    margin-top: 60px;
}
.wx-h5-text{
    margin-top: 200px;
    margin-left: 45px;
    width: 250px;
}
.wx-h5-text h5{
    font-size: 28px;
    color: #ffffff;
    font-weight: 500;
}
.wx-h5-en{
    margin-top: 16px;
    font-size: 20px;
    color: #ffffff;
}
.wx-h5-text span{
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 1px;
    background: #ffffff;
}
.wx-h5-word{
    margin-top: 20px;
    width: 100%;
    line-height: 28px;
    font-size: 16px;
    color: #ffffff;
}
.wx-wfw{
    overflow: hidden;
}
.wx-wfw-pic{
    width: 584px;
    height: 688px;
    margin-top: 60px;
}
.wx-wfw-text{
    width: 375px;
    margin: 260px 55px 0 110px;
}
.wx-wfw-text h5{
    font-size: 28px;
    color: #4d4d4d;
    font-weight: 500;
}
.wx-wfw-en{
    margin-top: 16px;
    font-size: 20px;
    color: #999;
}
.wx-wfw-text span{
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 1px;
    background: #000;
}
.wx-wfw-word{
    margin-top: 20px;
    width: 100%;
    line-height: 28px;
    font-size: 16px;
    color: #4d4d4d;
}
.wx-xcx-wrapper{
    padding-top: 60px;
    background: #646464;
}
.wx-xcx-wrapper h5{
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
}
.wx-xcx-en{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.wx-xcx-pic{
    margin: 32px auto 0;
    width: 300px;
    height: 524px;
}
.footer{
    background: #282828;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 24px 0;
}
.rj-wrapper{
    margin-top: 86px;
}
.rj-aboutus-title{
    width: 180px;
}
.rj-aboutus-title h3{
    font-size: 28px;
    color: #4d4d4d;
    font-weight: 500;
}
.rj-aboutus-title p{
    margin-top: 18px;
    font-size: 14px;
    color: #999999;
}
.rj-aboutus-text{
    width: 1020px;
}
.rj-aboutus-text p{
    width: 100%;
    font-size: 16px;
    color: #4d4d4d;
    line-height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.rj-list{
    margin-top: 60px;
}
.rj-list li{
    float: left;
    width: 33.33%;
    text-align: center;
    height: 240px;
    margin-bottom: 40px;
}
.rj-item-pic{
    position: relative;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    line-height: 140px;
    border: 1px solid #4c9ff7;
    box-shadow: -3px 0px 10px #dcddde,3px 0px 10px #dcddde;
    border-radius: 50%;
}
.rj-list li:hover .rj-item-mask{
    display: block;
}
.rj-item-mask{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 140px;
    height: 140px;
    line-height: 140px;
    z-index: 20;
    background: #4c9ff7;
    border-radius: 50%;
}

.rj-item-pic img{
    width: 70px;
    height: 70px;
    vertical-align: middle;
}
.rj-item-title{
    margin-top: 22px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #4d4d4d;
    font-weight: 500;
}
.rj-item-text{
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    color: #4d4d4d;
    text-align: center;

}
.app-wrapper{
    margin-top: 85px;
}
.yyxt-wrapper{
    height: 515px;
    background: #f5f5f5;
}
.yyxt-pic{
    width: 460px;
    height: 442px;
    margin: 35px 0 0 60px;
}
.yyxt-text{
    margin: 165px 0 0 45px;
    width: 540px;
}
.yyxt-text h5{
    font-size: 28px;
    color: #4d4d4d;
    font-weight: 500;
}
.yyxt-en{
    margin-top: 16px;
    font-size: 20px;
    color: #999999;
}
.yyxt-text span{
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 1px;
    background: #000;
}
.yyxt-word{
    margin-top: 20px;
    width: 100%;
    line-height: 28px;
    font-size: 16px;
    color: #4d4d4d;
}
.app-ys{
    position: relative;
    margin-top: 60px;
    height: 645px;
    background: url("../img/app-two.png")no-repeat 75px 122px;

}
.app-ys-text{
    text-align: center;
}
.app-ys-text h5{
    font-size: 28px;
    color: #4d4d4d;
    font-weight: 500;
}
.app-ys-text{
    margin-top: 16px;
    font-size: 20px;
    color: #999999;
}
.app-ys-list li{
    position: absolute;
}
.app-ys-list ul li:first-child > .appys-item-pic{
    margin-top: 30px;
    margin-right: 10px;
}
.app-ys-list li:nth-child(1){
    left: 545px;
    top: 130px;
}
.app-ys-list li:nth-child(2){
    top: 252px;
    left: 769px;
}
.app-ys-list li:nth-child(3){
    top: 309px;
    left: 138px;
}
.app-ys-list li:nth-child(4){
    top: 435px;
    left: 683px;
}
.appys-item-pic{
    width: 60px;
    height: 60px;
}
.appys-item-text{
    width: 350px;
}
.appys-item-text h3{
    font-size: 28px;
    font-weight: 500;
}
.appys-item-text p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 34px;
}
.app-good-wrapper{
    margin-top: 60px;
    background: #f5f5f5;
    overflow: hidden;
    padding-bottom: 75px;
}
.app-good-text{
    margin-top: 60px;
}
.app-good-text h5{
    font-size: 28px;
    color: #4d4d4d;
    font-weight: 500;
}
.app-good-en{
    margin-top: 16px;
    font-size: 20px;
    color: #999999;
}
.app-good-list{
    margin-top: 90px;
}
.app-good-list li{
    float: left;
    width: 25%;
    text-align: center;
}
.appgood-item-pic{
    width: 90px;
    height: 87px;
    margin: 0 auto;
}
.app-good-list li h5{
    margin-top: 50px;
    font-size: 28px;
    color: #4d4d4d;
    font-weight: 500;
}
.app-good-list li p{
    margin-top: 20px;
    font-size: 14px;
    color: #4d4d4d;
}
/*服务项目结束*/
/*服务流程*/
.fwlc-wrapper{
    margin-top: 100px;
    border-top: 1px solid #e6e6e6;
}
.fwlc-title{
    width: 650px;
    margin: 20px auto 0;
}
.fwlc-title h2{
    float: left;
    font-size: 70px;
    font-family: "华文楷体";
    color: #4d4d4d;
}
.fwlc-title-ch{
    font-size: 26px;
    color: #4d4d4d;
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid #000;
}
.fwlc-body{
    margin-top: 85px;
    height: 697px;
}
/*服务流程结束*/
/*案例展示*/
.alzs-wrapper{
    margin-top: 100px;
    border-top: 1px solid #e6e6e6;
}
.alzs-title{
    width: 940px;
    margin: 20px auto 0;
}
.alzs-title h2{
    float: left;
    font-size: 70px;
    font-family: "华文楷体";
    color: #4d4d4d;
}
.alzs-title-ch{
    font-size: 26px;
    color: #4d4d4d;
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid #000;
}
.alzs-content{
    margin-top: 88px;
    margin-bottom: 30px;
}
.alzs-list li{
    float: left;
    width: 32%;
    margin-right: 2%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.alzs-list li:nth-child(3n){
    margin-right: 0;
}
.alzs-item-pic{
    width: 100%;
    height: 230px;
}
.alzs-item-text{
    width: 90%;
    margin: 22px auto 0;
}
.alzs-item-hp{
    width: 78%;
}
.alzs-item-hp h5{
    font-size: 20px;
    line-height: 32px;
    color: #4d4d4d;
    font-weight: 500;
}
.alzs-item-hp p{
    font-size: 14px;
    color: #a0a0a0;
    line-height: 30px;
}
.alzs-item-arrow{
    width: 22%;
    height: auto;
    visibility: hidden;
}
.alzs-list li:hover{
    box-shadow: -5px 0 20px #ededed,5px 0 20px #ededed;
}
.alzs-list li:hover .alzs-item-hp h5{
    color: #30a4fe;
}
.alzs-list li:hover .alzs-item-arrow{
    visibility: visible;
}
.alzs-page{
    margin: 30px auto 0;
    width: 180px;
}
.alzs-page-list li{
    float: left;
}
.alzs-page-list li a{
    display: block;
    margin: 0 10px;
    padding-bottom: 10px;
    color: #afafaf;
    font-size: 14px;
}
.alzs-page-list li a:hover{
    border-bottom: 2px solid #4d4d4d;
    color: #4d4d4d;
    padding-bottom: 2px;
}
/*案例展示结束*/
/*案例详情*/
.alxq-banner{
    height: 500px;
    background: url("../img/alxq-banner.jpg")no-repeat center center;
    overflow: hidden;
    text-align: center;
}
.alxq-banner-title{
    margin-top: 168px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #ffffff;
    border-bottom: 1px solid #cfd1d2;
}
.alxq-banner-pic{
    margin: 14px auto 0;
    width: 120px;
    height: 120px;
}
.alxq-banner-link{
    width: 262px;
    margin: 40px auto 0;
}
.alxq-banner-link li a{
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    background: #2384ce;
    border-radius: 20px;
}
.alxq-content{
    margin-top: 20px;
    margin-bottom: 100px;
}
.alxq-content h3{
    padding-left: 12px;
    font-size: 20px;
    color: #4d4d4d;
    border-left: 2px solid #30a4fe;
    font-weight: 500;
}
.alxq-name{
    margin-top: 20px;
    font-size: 18px;
    color: #30a4fe;
    text-indent: 32px;
}
.alxq-introduce{
    margin-top: 10px;
    font-size: 16px;
    color: #4d4d4d;
    text-indent: 40px;
    line-height: 32px;
}
.alxq-list{
    position: relative;
    margin: 80px auto 0;
    width: 630px;
    height: 890px;
}
.alxq-item-picbg {
    margin: 0 auto;
    width: 443px;
    height: 100%;
}
.alxq-item-picbg ul li{
    display: none;
    width: 100%;
    height: 100%;
}
.alxq-item-picbg ul li:first-child{
    display: block;
}
.alxq-list ul{
    width: 100%;
    height: 100%;
    background: url("../img/alxq-pho.png")no-repeat;
    overflow: hidden;
}
.alxq-item-pic{
    position: relative;
    margin: 110px auto 0;
    width: 385px;
    height: 680px;
}
.alxq-item-mask{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(20,20,20,.3);
    text-align: center;
}
.alxq-item-pic:hover .alxq-item-mask{
    display: block;
}
.alxq-mask-QRcode{
    width: 180px;
    height: 180px;
    margin: 170px auto 0;
}
.alxq-mask-text{
    margin-top: 38px;
    font-size: 22px;
    color: #ffffff;
}
.alxq-left,
.alxq-right{
    position: absolute;
    display: block;
    width: 40px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
}
.alxq-left{
    left: 0;
    background: url("../img/alxq-left-one.png")no-repeat;
}
.alxq-left:hover{
    background: url("../img/alxq-left-two.png")no-repeat;
}
.alxq-right{
    right: 0;
    background: url("../img/alxq-right-one.png")no-repeat;
}
.alxq-right:hover{
    background: url("../img/alxq-right-two.png")no-repeat;
}
/*案例详情结束*/
/*新闻资讯*/
.xwzx-wrapper{
    margin-top: 100px;
    border-top: 1px solid #e6e6e6;
}
.xwzx-title{
    width: 850px;
    margin: 20px auto 0;
}
.xwzx-title h2{
    float: left;
    font-size: 70px;
    font-family: "华文楷体";
    color: #4d4d4d;
}
.xwzx-title-ch{
    font-size: 26px;
    color: #4d4d4d;
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid #000;
}
.xwzx-content{
    margin-top: 85px;
 }
.xwzx-list li{
    padding: 25px 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}
.xwzx-list li:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.xwzx-item-text{
    width: 67%;
}
.xwzx-item-pic{
    width: 18%;
    height: 128px;
}
.xwzx-item-title{
    width: 100%;
    color: #999999;
}
.xwzx-time-data{
    font-size: 28px;
}
.xwzx-time-line{
    margin: 20px 0 0 30px;
    width: 36px;
    height: 1px;
    background: #999999;
}
.xwzx-time-year{
    margin-left: 55px;
    font-size: 18px;
    line-height: 36px;
}
.xwzx-item-title h5{
    float: left;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
}
.xwzx-item-content{
    margin-top: 20px;
}
.xwzx-content-arrow{
    width: 75px;
    height: 40px;
    color: #dbdbdb;
    text-align: center;
    line-height: 40px;
    font-size: 50px;
    font-weight: 100;
}
.xwzx-content-body{
    width: 75%;
}
.xwzx-content-body p{
    width: 100%;
    line-height: 20px;
    color: #999999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    letter-spacing: 1px;
}
.xwzx-list li:hover .xwzx-item-title{
    color: #4d4d4d;
}
.xwzx-list li:hover .xwzx-time-line{
    width: 72px;
    background: #4d4d4d;
}
.xwzx-list li:hover .xwzx-content-arrow{
    background: #90cfff;
    color: #ffffff;
}
.xwzx-page{
    margin: 30px auto 0;
    width: 180px;
}
.xwzx-page-list li{
    float: left;
}
.xwzx-page-list li a{
    display: block;
    margin: 0 10px;
    padding-bottom: 10px;
    color: #afafaf;
    font-size: 14px;
}
.xwzx-page-list li a:hover{
    border-bottom: 2px solid #4d4d4d;
    color: #4d4d4d;
    padding-bottom: 2px;
}
/*新闻资讯结束*/
/*关于我们*/
.gywm-wrapper{
    margin-top: 100px;
    border-top: 1px solid #e6e6e6;
}
.gywm-title{
    width: 480px;
    margin: 20px auto 0;
}
.gywm-title h2{
    float: left;
    font-size: 70px;
    font-family: "华文楷体";
    color: #4d4d4d;
}
.gywm-title-ch{
    font-size: 26px;
    color: #4d4d4d;
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid #000;
}
.gywm-body{
    margin-top: 88px;
}
.gywm-pic{
    position: relative;
    margin-left: 55px;
    width: 500px;
    height: 480px;
}
.gywm-pic-pa{
    position: absolute;
    left: 175px;
    top: 170px;
    width: 438px;
    height: 272px;
    z-index: 5;
}
.gywm-text{
    position: relative;
    margin-left: 150px;
    margin-top: 95px;
    width: 440px;
}
.gywm-text h5{
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 500;
}
.gywm-title-en{
    margin-top: 10px;
    font-size: 12px;
    color: #999999;
}
.gywm-title-line{
    margin-top: 50px;
    width: 100%;
    font-size: 20px;
    color: #4d4d4d;
    padding-bottom: 18px;
    border-bottom: 1px solid #999999;
}
.gywm-list{
    margin-top: 20px;
    width: 100%;
}
.gywm-list li{
    display: none;
    width: 100%;
    line-height: 28px;
    height: 180px;
    font-size: 14px;
    color: #999999;
    overflow: hidden;
}
.gywm-list li:first-child{
    display: block;
}
.gywm-left,
.gywm-right{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    bottom: 0;
}
.gywm-left{
    left: 0;
    background: url("../img/gywm-left.png")no-repeat;
}
.gywm-right{
    left: 30px;
    background: url("../img/gywm-right.png")no-repeat;
}
/*关于我们结束*/
/*联系我们*/
.lxwm-wrapper{
    margin-top: 100px;
    border-top: 1px solid #e6e6e6;
}
.lxwm-title{
    width: 560px;
    margin: 20px auto 0;
}
.lxwm-title h2{
    float: left;
    font-size: 70px;
    font-family: "华文楷体";
    color: #4d4d4d;
}
.lxwm-title-ch{
    font-size: 26px;
    color: #4d4d4d;
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid #000;
}
.lxwm-body{
    margin-top: 88px;
    padding: 40px 2%;
    background: #f5f5f5;
    margin-bottom: 85px;
}
.lxwm-content{
    margin: 0 auto;
    width: 96%;
}
.lxwm-text{
    width: 265px;
}
.lxwm-text h5{
    font-size: 20px;
    color: #999999;
    font-weight: 500;
    margin-bottom: 30px;
}
.lxwm-list{
    width: 100%;
}
.lxwm-list li{
    width: 100%;
}
.lxwm-list li:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.lxwm-list li span{
    float: left;
    margin: 10px auto;
    display: block;
    width: 20px;
    height: 20px;
}
.lxwm-list li p{
    float: right;
    margin: 10px auto;
    width: 85%;
    line-height: 20px;
    font-size: 14px;
    color: #999999;
}
.lxwm-QRcode{
    width: 136px;
    height: 136px;
    margin: 0 auto;
}
.lxwm-pic{
    width: 70%;
    height: 388px;
}
/*联系我们结束*/
/*新闻详情*/
.xwxq-banner{
    height: 80px;
    background: #000000;
}
.xwxq-wrapper{
    margin-top: 60px;

}
.xwxq-body{
    margin-bottom: 88px;
}
.xwxq-location li{
    float: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
}
.xwxq-location li a{
    font-size: 14px;
    color: #999999;
}
.xwxq-content{
    margin-top: 5px;
    border-top: 1px solid #d9d9d9;

}
.xwxq-content h3{
    margin-top: 62px;
    text-align: center;
    font-size: 28px;
    color: #4d4d4d;
    font-weight: 500;
}
.xwxq-time{
    margin: 20px auto 30px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #999999;
}
.xwxq-content p{
    font-size: 14px;
    text-indent: 32px;
    color: #999999;
    line-height: 28px;
}
.xwxq-pic{
    margin: 30px auto;
    width: 75%;
    height: 425px;
}
.xwxq-page{
    margin: 20px auto;
    width: 200px;
}
.xwxq-page span a{
    font-size: 14px;
    color: #999999;
}
.xwxq-page-list{
    margin: 5px 25px;
    height: auto;
    width: 38px;
}
.xwxq-page-list li{
    float: left;
    width: 10px;
    height: 5px;
    background: #999999;
    margin-right: 4px;
    margin-bottom: 4px;
}
.xwxq-page-list li:nth-child(3n){
    margin-right: 0;
}
/*新闻详情结束*/